@import "./reset/_reset.scss";
@import "./reset/_admin.scss";
@import "./reset/_nav.scss";

/****VARIABLES****/

$grey: #efefef;
$grey-border: #dcdcdc;

/******RULES*****/
body {
    background-color: $grey;
}

main {
    display: flex;
}

article {
    margin-left: 30px;
    margin-top: 10px;
    width:50%;
    display: flex;

}

article{
    overflow-y: auto;

    h1{
        text-align: center;
        font-family: sans-serif;
        font-size: 40px;
        color:#f5f5f5;
        background-color: #34547A;
        padding:2.5%;
        margin:0;
    }
    h2{
        text-align: center;
        font-family: sans-serif;
        font-size: 25px;
        color:#f5f5f5;
        background-color: #49617D;
        padding:1.2%;
        margin:0;
    }
    h3{
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 400;
        color:#373737;
        background-color: #A0A8B2;
        padding:1%;
        margin:0;


    }

    h3 + div{
        p{
            text-align:center;
            padding:1%;
        }
        background-color:#DEDFE1;
    }

    h4{
        text-align: center;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 600;
        color:#373737;
        background-color: #DEDFE1;
        padding:.5%;
        margin:0;
    }
    > div{
        margin-bottom:5%;
        width:100%;

        > p{
            padding:.92%;
            text-align: center;
             background-color:#DEDFE1;
            cursor: pointer;
        }

        p{

        }

    }

    .hdata{

    }

}

/*article.

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button {
    font-family: Helvetica, Arial, "Century Gothic", sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
}

h1 {
    font-size: 37px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 29px;
}*/
